footer {
	clear: both;
	float: none;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

	&.container-fluid {
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		.row {
			margin: 0 0 0 0;
			padding: 0 0 0 0;
			&.pre-footer {
				clear: both;
				float: none;
				overflow: hidden;
				padding: em(40) 0;
				width: 100%;
				position: relative;
				height: auto;
				@include bgparallax;
				margin: 0 0 0 0;
				background-image: url('../images/bg/bg-prefooter.jpg');
				@include sm {
					overflow: hidden; 
				}
				
				video {
					display: none;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%);					
					width: 243%;
					@include sm {
						display: block;
					}
				}

				.widget_text {
					text-align: left;
					color: $white;
					h4 {
						display: none;
					}
					img {
						display: inline-block;
						max-width: 300px;
						height: auto;
					}
					p {
						text-align: left;
					}
				}
			}
			&.copyright {
				ul {
					padding: em(10);
					text-align: center;
					li {
						display: block;
						color: $black;
						@include sm {
							display: inline-block;
							width: 32%;
						}
						a {
							color: $black;
						}
					}
				}
			}
		}
	}
}