body {

	//when is opened
	&.open-menu {
		.side-menu {
			//the button
			.nav-header{
				.navbar-side-btn {
					left: 0;
					transition: all ease-in 0.3s;
					@include sm {
						left: 426px;
					}
				}
			}
			.nav-collapse {
				left: 0;
				transition: all ease-in 0.3s;
			}
		}
	}
	//brand
	.the-logo {
		position: absolute;
		z-index: 10;
		top: 57px;
		left: 53px;
		img{
			max-width: 100%;
		}
		@include mobile {
			position: fixed;
			z-index: 14;
			top: 10px;
			left: 44%;
			width: 46px;
		}
	}
	//The menu default
	.side-menu {
		position: fixed;
		height: 100%;
		z-index: 10;
		top: 0;
		left: 0;
		//the button
		.nav-header{
			.navbar-side-btn {
				position: fixed;
				width: 50px;
				height: 50px;
				z-index: 2;
				border: none;
				background-color: $red;
				border: none;
				top: 50%;
				left: 0;
				margin-top: -30px;
				transition: all ease-out 0.5s;
				@include mobile{
					top: 0;
					margin-top: 0;						
					width: 100%;
				}
				span {
					display: block;
					width: 90%;
					max-width: 34px;
					height: 4px;
					margin: 7px auto;
					background-color: $white;
					@include mobile {
						margin: 7px;
					}
				}
			}
		}
		.nav-collapse {
			max-width: 426px;
			width: 70%;
			height: 100%;
			position: fixed;
			top: 0;
			left: -426px;
			transition: all ease-out 0.5s;
			background-color: $op_red;
			.navbar-brand {
				float: none;
				position: relative;
				z-index: 20;
				img {
					display: block;
					max-width: 80%;
					margin: em(50) auto em(20);
					@include sm{
						margin: em(35) auto em(50);
					}
				}
			}

			.menu{
				padding: 0;
				margin: 0  auto;
				float: none;
				width: 80%;
				> li {
					display: block;
					width: 100%;
					float: none;
					a {
						text-transform: uppercase;
						color: $white;
						display: block;
						width: 100%;
						font-size: em(28);
						font-family: $bold;
						transition: all 0.4s;
						&.active,
						&:active,
						&:focus,
						&:hover {
							border: none;
							background-color: transparent;
							color: $white;
						}
						@include sm {
							font-size: em(30);
						}
					}
					.dropdown-menu {
					    position: inherit;
					    top: inherit;
					    float: none;
					    font-size: inherit;
					    background-color: transparent;
					    background-clip: inherit;
					    border: none;
					    border-radius: inherit;
					    box-shadow: none;
					    li {
					    	a {
								font-family: $regular;
								font-size: em(17);
								@include sm {
									font-size: em(20);
								}
					    	}
					    }
					}

					&.active {
						a {
							border: none;
							background-color: transparent;
							color: $white;
						}
					}
				}
			}

			.follow {
				position: absolute;
				z-index: 20;
				bottom: 5%;
				width: 100%;
				@include mobile {
					position: relative;
					bottom: inherit;
					margin-top: 6em;
				}
				ul{
					padding: 0;
					margin: 0;
					text-align: center;
					li{
						display: inline-block;
						margin: 0 em(5);
						
						a {
							transition: all 0.3s;
							display: block;
							width: em(30);
							height: em(30);
							border-radius: 100%;
							background-color: $white;
							color: $red;
							text-align: center;
							line-height: em(30);
							font-size: em(18);
							&:hover {
								background-color: $red;
								color: $white;
							}
						}
					}
				}
			}
		}
	}
}