@mixin pointer($width,$height) {
	background-image: url('../images/icons/pointer.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin bath($width,$height) {
	background-image: url('../images/icons/bath.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin bed($width,$height) {
	background-image: url('../images/icons/bed.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin plus($width,$height) {
	background-image: url('../images/icons/plus.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin prev($width,$height) {
	background-image: url('../images/icons/prev.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin next($width,$height) {
	background-image: url('../images/icons/next.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin m2($width,$height) {
	background-image: url('../images/icons/m2.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin admon($width,$height) {
	background-image: url('../images/icons/Admon.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin antiguedad($width,$height) {
	background-image: url('../images/icons/Antiguedad.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin ascensor($width,$height) {
	background-image: url('../images/icons/Ascensor.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin estrato($width,$height) {
	background-image: url('../images/icons/Estrato.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin exterior($width,$height) {
	background-image: url('../images/icons/Exterior.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin gimnasio($width,$height) {
	background-image: url('../images/icons/Gimnasio.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin garaje($width,$height) {
	background-image: url('../images/icons/Garaje.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin parques($width,$height) {
	background-image: url('../images/icons/Parques.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin piscina($width,$height) {
	background-image: url('../images/icons/Piscina.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin piso($width,$height) {
	background-image: url('../images/icons/Piso.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin sauna($width,$height) {
	background-image: url('../images/icons/Sauna.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin seguridad($width,$height) {
	background-image: url('../images/icons/Seguridad.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}

@mixin transporte($width,$height) {
	background-image: url('../images/icons/Transporte.svg');
	background-size: 100% 100%;
	width: $width;
	height: $height;
}