//colors
$white: #ffffff;
$black: #000000;
$grey: #606060;
$dgrey: #333333;
$grey-1: #878686;
$grey-2: #434343;
$grayBg: #B2B1B1;
$lgrey: #dfdfdf;
$lgrey2: #dfe3e9;
$lgrey3: #fafafa;
$lgrey4: #f1f1f1;
$lgrey5: #c9c9c9;
$lgrey6: #dedee4;
$txtgrey: #666666;
$red: #E43834;

$op_red: rgba(228,56,52,0.7); 


//screens
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
$sm-desktop-width: 1024px;
$big-desktop-width: 1481px;

//Fonts
$regular: 'Century Gothic';
$bold: 'Bebas Neue'; 
$g-boldIt: 'Century Gothic Bold Italic';
$g-bold: 'Century Gothic Bold';
