body {
	// Inline logos
	.logos-wrapper {
		@include clearfix;
		ul {
			padding: em(16) 0;
			text-align: center;
			li {
				display: block;
				margin: em(15) auto;
				max-width: em(150);
				@include sm {
					display: inline-block;
					margin: 0 em(15);
					max-width: em(110);
				}
				img {
					max-width: 100%;
				}
			} 
		}
	}

	&.page-template-_avaluos-tpl {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		background-image: url('../images/bg/bg-avaluo.jpg');
		> header {
			text-align: center;
			img {
				display: inline-block;
				margin: em(90) auto 0;
				max-width: 90%;
				@include sm {
					margin: em(120) auto 0;
				}
			}
			
			h1 {
				margin: em(10) auto em(10);
				color: $black;
			}
		}

		article {
			.content-wrapper {
				background-color: rgba(255,255,255,0.7);
				margin: 0 auto em(40);
				width: 90%;
				padding: em(15);
				border-radius: em(20);
				box-shadow: 0 0 em(15) $lgrey5;
				@include sm {
					width: 70%;
					padding: em(25) em(35);
				}
				a {
					margin: em(15) 0 0;
					display: inline-block;
					@include buttonRed;
				}
			}
		}
	}
}