.loop-clientes {
	h3 {
		margin: em(10) auto 0;
		color: $red;
		position: relative;
		text-align: center;
		@include sm {
			margin: em(30) auto em(10);
		}
	}

	ul {
		padding: em(30) 0;
		li {
			display: block;
			img {
				display: block;
				max-width: 66%;
				margin: 0 auto; 
			}
		}
	}
}