.blog-pods {
	margin-top: em(30);
	margin-bottom: em(30);
}

.pod_post {
	h3 {
		font-size: em(30);
		@include sm {
			font-size: em(35);
		}
	}
	h4 {
		font-size: em(18);
		@include sm {
			font-size: em(28);
		}
	}
	figure {
		width: 100%;
		height: em(250);
		margin: 0 auto em(15);
		@include bgcover;
		img {
			display: none;
		}
	}
}