video {
    position: fixed;
    right:0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate(0, -210px) ;
	
}
.fdtexto{
	text-align:center;
}
@media (max-width:995px) {
    .foot-fijo {
        display: none;
	
    }
    .foot-fijo-movil {
        display: block;
	
    }
	
}
@media (min-width:995px) {
    .foot-fijo-movil {
        display: none;
	
    }
	
}