.block--form {
	width: 100%;
	position: relative;
	padding: em(30) 0;
	background-color: $lgrey2;
	text-align: center;
	h3 {
		font-size: em(20);
		margin: em(10) auto 0;
		color: $red;
		@include sm {
			margin: em(20) auto em(10);
			font-size: em(40);
		}
	}
	form {
		width: 100%;
		max-width: em(600);
		margin: em(20) auto;
		p {
			input {
				&[type="submit"] {
					@include buttonRed;
				}
			}
		}
	}
}

// Sideform 
.sideform {
	h3 {
		text-align: left;
		font-size: em(20);
		margin: em(10) 0;
		color: $red;
		@include sm {
			font-size: em(30);
		}
	}
	form {
		padding: em(10);
		position: relative;
		margin-bottom: em(40);
		ul {
			padding: em(10);
			li {
				display: block;
				margin: em(12) 0;
				input {
					&[type="number"] {
						display: block;
						margin: em(12) 0;
						width: 100%;
						padding: em(10);
					}
				}
			}
		}
		button {
			&[type="submit"] {
				@include buttonRed;
			}
		}
	}
}