.block-hero--search {
	width: 100%;
	position: relative;
	height: 100vh;
	max-height: 700px;
	@include bgparallax;
	background-image: url('../images/bg/bg-home.jpg');
	text-align: center;

	img {
		display: inline-block;
		margin: em(90) auto 0;
		max-width: 90%;
		@include sm {
			margin: em(220) auto 0;
		}
	}
	
	h2 {
		font-size: em(40);
		margin: em(10) auto em(10);
		color: $black;
		text-shadow: 0 0 em(6);
		@include sm {
			font-size: em(60);	
		}
	}

	form {
		ul {
			padding: 0 0 0 0;
			position: relative;
			display: block;
			@include sm {
				padding: 0 em(62) 0 0;
			}
			li {
				display: block;
				margin: em(10) auto;
				@include sm {
					display: inline-block;
					width: 32%;
					padding: 0 em(20);
					margin: 0 0 0 0;
				}

				select {
					box-shadow: 0 0 em(12) $black;
				}

				&.last {
					@include sm {
						display: block;
						position: absolute;
						right: 0;
						top: em(-3);
						width: em(80);
						padding: 0 0 0 0;
					}
					button {
						padding: em(5) em(10);
						font-size: em(20);
						color: $white;
						background-color: $red;
						border: none;
						border-radius: em(12);
						display: block;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}